#select_box {
	min-width: 100px;
	width: 10%;
}

#half_box {
	width: 50%;
}

#max_box {
	width: 100%;
}

body {
    background: #EFEFEF url("images/bg.jpg") repeat;
	font-family:Monospace;
	cursor:default;
}

div {
	#background: gray;
	width: 80%;
	height: 80%;
	margin-left: auto;
	margin-right: auto;
}

div.home {
	text-align: center;
	vertical-align: middle;
}

table {
	word-wrap:break-word;
}

td {
	vertical-align: top;
}

input,select {
	font-family:Monospace;
	font-size:12px;
	cursor:pointer;
}

[type="text"] {
	font-family:Monospace;
	font-size:12px;
	cursor:text;
}

a {
	font-weight:bold;
	color:black;
	cursor:pointer;
}

a:hover {
	color:gray;
}
