<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<head>
<title>Add Word</title>
</head>
<body>
<div>
<h3>Add Word</h3>
{% if text %}{{ text }}{% endif %}
<form action="{% url 'bank:add_word' %}" method="post">
{% csrf_token %}
Word: <input type="text" name="word" value="{{ word }}" pattern="[A-Za-z]+" id="max_box" required>
<select name="word_type">
	{% if word_type %}<option value="{{ word_type }}">{{ word_type }}</option>{% endif %}
	<option value="nouns">nouns</option>
	<option value="verbs">verbs</option>
	<option value="adjective">adjective</option>
	<option value="adverbs">adverbs</option>
	<option value="pronouns">pronouns</option>
	<option value="connective">connective</option>
</select><br>
Meaning: <input type="text" name="word_mean" value="{{ word_mean }}" id="max_box" required><br>
Example: <input type="text" name="word_ex" value="{{ word_ex }}" id="max_box" required><br>
<input type="submit" value="Submit">
</form>
<h3>Batch add Word</h3>
<form action="{% url 'bank:uploadCSV' %}" method="post" enctype="multipart/form-data">
{% csrf_token %}
	<input type="file" name="uploadedFile" id="uploadedFile" required>
	<input type="submit" value="Batch add">
</form>
<form action="{% url 'bank:home' %}" method="get">
	<input type="submit" value="Home">
	<input type="submit" value="Word list" formaction="{% url 'bank:word_list' %}">
</form>
</div>
</body>
</html>
