<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<head>
	<title>Word Detail: {{ word.word_text }}</title>
</head>
<body>
<div>
<h3><p>Word Detail: {{ word.word_text }}</p></h3>
	<table background-color=gray border="0">
		<tr>
			<td bgcolor="#AAAAAA" colspan="3"><a href="{% url 'bank:word_detail' word.word_text %}">{{ word.word_text }}</a></td>
		</tr>
		{% for mean in word.mean_set.all %}
		<tr>
			<td bgcolor="#DFDFDF" width="120">{{ mean.word_type }}</td>
			<td bgcolor="#DFDFDF" width="500">{{ mean.word_mean }}</td>
			<td bgcolor="#DFDFDF" width="300">{{ mean.word_ex }}</td>
		</tr>
		{% endfor %}
	</table>
<br><form action="{% url 'bank:home' %}" method="get">
	<input type="submit" value="Home">
	<input type="submit" value="Word list" formaction="{% url 'bank:word_list' %}">
</form>
</div>
</body>
</html>
