<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<head>
<title>Word Bank</title>
</head>
<body>
<div class=home>
<h3>Word Bank</h3>
<form action="{% url 'bank:word_search' %}" method="post">
{% csrf_token %}
	Search: <input type="text" name="text" id="half_box" required>
	<select name="method" id="select_box">
		<option value="contains">Contains</option>
		<option value="startswith">Startswith</option>
		<option value="endswith">Endswith</option>
	</select>
	<input type="submit" value="Search">
</form>
<form action="{% url 'bank:word_list' %}" method="get">
	<input type="submit" value="Word list">
	<input type="submit" value="Add Word" formaction="{% url 'bank:add_word' %}">
	<input type="submit" value="Lastest search" formaction="{% url 'bank:lastest_search' %}">
	<input type="submit" value="Frequency search" formaction="{% url 'bank:freq_search' %}">
</form>
<table width="1100px" align="center">
<tr>
<td>
<h3><p align="center">5 Lastest search list</p></h3>
	{% if time_search_list %}
	<p>
	<table background-color=gray border="0" id="table" width="500px" align="center">
	<tr>
		<td bgcolor="#7A7A7A"><b>search phase</b></td>
		<td bgcolor="#7A7A7A"><b>search time</b></td>
		<td bgcolor="#7A7A7A"><b>count</b></td>
	</tr>
	{% for search in time_search_list %}
		<tr>
			<td bgcolor="#AAAAAA">
				<form action="{% url 'bank:word_search' %}" method="post" name="search_form">
				{% csrf_token %}
					<input type="text" name="text" value="{{ search }}" hidden required>
					<input type="text" name="method" hidden required>
					<a href="javascript:;" onclick="parentNode.submit();">{{ search }}</span> 
				</form>
			</td>
			<td bgcolor="#AAAAAA">{{ search.search_time }}</td>
			<td bgcolor="#AAAAAA">{{ search.search_count }}</td>
		</tr>
	{% endfor %}
	</table>
	</p>
	{% else %}
		<p>No lastest search list available.</p>
	{% endif %}
</td>
<td>
<h3><p align="center">5 Frequency search list</p></h3>
	{% if freq_search_list %}
	<p>
	<table background-color=gray border="0" id="table" width="500px" align="center">
	<tr>
		<td bgcolor="#7A7A7A"><b>search phase</b></td>
		<td bgcolor="#7A7A7A"><b>search time</b></td>
		<td bgcolor="#7A7A7A"><b>count</b></td>
	</tr>
	{% for search in freq_search_list %}
		<tr>
			<td bgcolor="#AAAAAA">
				<form action="{% url 'bank:word_search' %}" method="post" name="search_form">
				{% csrf_token %}
					<input type="text" name="text" value="{{ search }}" hidden required>
					<input type="text" name="method" hidden required>
					<a href="javascript:;" onclick="parentNode.submit();">{{ search }}</span> 
				</form>
			</td>
			<td bgcolor="#AAAAAA">{{ search.search_time }}</td>
			<td bgcolor="#AAAAAA">{{ search.search_count }}</td>
		</tr>
	{% endfor %}
	</table>
	</p>
	{% else %}
		<p>No lastest search list available.</p>
	{% endif %}
</td>
</tr>
</table>
</div>
</body>
</html>
