<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<head>
	<title>Lastest search list</title>
</head>
<body>
<div>
<h3><p>Lastest search list</p></h3>
	{% if search_list %}
	<p>
	<table background-color=gray border="0" id="table" width="500px">
	<tr>
		<td bgcolor="#7A7A7A"><b>search phase</b></td>
		<td bgcolor="#7A7A7A"><b>search time</b></td>
		<td bgcolor="#7A7A7A"><b>count</b></td>
	</tr>
	{% for search in search_list %}
		<tr>
			<td bgcolor="#AAAAAA">
				<form action="{% url 'bank:word_search' %}" method="post" name="search_form">
				{% csrf_token %}
					<input type="text" name="text" value="{{ search }}" hidden required>
					<input type="text" name="method" hidden required>
					<a href="javascript:;" onclick="parentNode.submit();">{{ search }}</span> 
				</form>
			</td>
			<td bgcolor="#AAAAAA">{{ search.search_time }}</td>
			<td bgcolor="#AAAAAA">{{ search.search_count }}</td>
		</tr>
	{% endfor %}
	</table>
	</p>
	{% else %}
		<p>No lastest search list available.</p>
	{% endif %}
<form action="{% url 'bank:home' %}" method="get">
	<input type="submit" value="Home">
</form>
</div>
</body>
</html>
