<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<head>
	<title>Word list</title>
</head>
<body>
<div>
<h3><p>Word list</p></h3>
<form action="{% url 'bank:word_search' %}" method="post">
{% csrf_token %}
	Search: <input type="text" name="text" id="max_box" required>
	<select name="method">
		<option value="contains">Contains</option>
		<option value="startswith">Startswith</option>
		<option value="endswith">Endswith</option>
	</select>
	<input type="submit" value="Search">
</form>
	{% if word_list %}
	<table background-color=gray border="0" id="table">
	{% for word in word_list %}
		<tr>
			<td bgcolor="#AAAAAA" colspan="3"><a href="{% url 'bank:word_detail' word.word_text %}">{{ word }}</a></td>
		</tr>
		{% for mean in word.mean_set.all %}
		<tr>
			<td bgcolor="#DFDFDF" width=10%>{{ mean.word_type }}</td>
			<td bgcolor="#DFDFDF" width=50%>{{ mean.word_mean }}</td>
			<td bgcolor="#DFDFDF" width=40%>{{ mean.word_ex }}</td>
		</tr>
		{% endfor %}
	{% endfor %}
	</table>
	{% else %}
		<p>No word available.</p>
	{% endif %}
<form action="{% url 'bank:backup' %}" method="get">
	<input type="submit" value="Backup CSV">
	<input type="submit" value="Backup XML" formaction="{% url 'bank:backupXML' %}">
	<input type="submit" value="Restore CSV" formaction="{% url 'bank:loadCSV' 'restore' %}">
	<input type="submit" value="Restore XML" formaction="{% url 'bank:loadXML' 'restore' %}">
	<input type="submit" value="Clear" formaction="{% url 'bank:clear' %}">
</form>
<p><a href="{% static 'backup.xml' %}" download><input type="submit" value="Download Backup XML"></a></p>
<form action="{% url 'bank:home' %}" method="get">
	<input type="submit" value="Home">
</form>
</div>
</body>
</html>
