<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<head>
	<title>Word Search</title>
</head>
<body>
<div>
<h3><p>Word Search</p></h3>
<form action="{% url 'bank:word_search' %}" method="post">
{% csrf_token %}
	Search: <input type="text" name="text">
	<select name="method">
		<option value="contains">Contains</option>
		<option value="startswith">Startswith</option>
		<option value="endswith">Endswith</option>
	</select>
	<input type="submit" value="Search">
</form>
	You are searching "{{ text }}"<br>
	Search method: "{{ method }}"
	{% if word_list %}
	<table background-color=gray border="0">
	{% for word in word_list %}
		<tr>
			<td bgcolor="#AAAAAA" colspan="3"><a href="{% url 'bank:word_detail' word.word_text %}">{{ word.word_text }}</a></td>
		</tr>
		{% for mean in word.mean_set.all %}
		<tr>
			<td bgcolor="#DFDFDF" width="120">{{ mean.word_type }}</td>
			<td bgcolor="#DFDFDF" width="500">{{ mean.word_mean }}</td>
			<td bgcolor="#DFDFDF" width="300">{{ mean.word_ex }}</td>
		</tr>
		{% endfor %}
	{% endfor %}
	</table>
	{% else %}
		<p>No word match.</p>
	{% endif %}
<br><form action="{% url 'bank:home' %}" method="get">
	<input type="submit" value="Home">
</form>
</div>
</body>
</html>
