<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<head>
	<title>Text</title>
</head>
<body>
<div>
<h3><p>Text</p></h3>
	{{ text }}
<br><a href="{% url 'bank:home' %}">Home</a>
</div>
</body>
</html>
